<div class ="mx-2">
  <div class="d-flex justify-content-between align-items-end">
    <h1 class="center">Restaurant #1808 Guide</h1>

    <%= link_to new_restaurant_path, class: 'text-decoration-none text-dark' do %>
      <i class="fa-solid fa-square-plus"></i>
    <% end %>
  </div>
  <div class="cards">
    <% @restaurants.each do |restaurant| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://loremflickr.com/320/200/food,<%= restaurant.category %>/all?lock=<%= restaurant.id %>);">
      <%= link_to restaurant.name, restaurant_path(restaurant), class: 'text-decoration-none text-white' %>
    </div>
    <% end %>
  </div>
</div>
